{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": false
      }
    ],
    "no-return-assign": "off"
  }
}
